<div class="main-container" >
<NavMenu / >
<div class="content" >
@Body
</div >
</div >

<style >
.main-container[b-jk00ermrez] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content[b-jk00ermrez] {
    margin: 20px;
    width: 100%;
}

</style[b-jk00ermrez] >
